  @import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
  
h1,h2,h3{
    font-family: 'Raleway';
}

p{
font-family: 'Alegreya', serif;
}

.CodeMirror {
	 border: 1px solid #eee;
	 height: auto;
}

#output{
    border: 1px solid #eee;
    padding: 5px;
}

.CodeMirror-scroll {
	 height: auto;
}

section {
    margin: auto;
    padding: 10px;
}
div#left {
    width: 60%;
    float: left;
}
div#right {
    margin-left: 40%;
    padding: 10px;
}

#python_code{
    display:none;
}

code{
    font-weight:bold;
    font-size:14px;
}